<!doctype html>
<html>
  <head>
    <title>Chat App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <style>
    body {
      padding-top: 50px;
    }
    #messages { list-style-type: none; margin: 0; padding: 0; }
    #messages li { padding: 5px 10px; }
    #messages li:nth-child(odd) { background: #eee; }
    </style>
  </head>
  <body>
  <div class="container" style="width:500px; margin: 0 auto;">
    <ul id="messages"></ul>
    <span id="typing"></span>
    <form action="">
      <input id="m" autocomplete="off" placeholder="Chat here..." class="form-control"/>
      <br \>
      <button class="btn btn-primary">Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
       $(document).ready(function(){
         var socket = io(); 
        $('form').submit(function(){
          socket.emit('chat message', $('#m').val());
          $('#m').val('');
          return false;
        });
        socket.on('chat message', function(msg){
          $('#messages').append($('<li>').text(msg));
        });
        var textarea = $('#m');
        var typingStatus = $('#typing');
        var lastTypedTime = new Date(0); 
        var typingDelayMillis = 5000; 
        function refreshTypingStatus() {
            if (!textarea.is(':focus') || textarea.val() == '' || new Date().getTime() - lastTypedTime.getTime() > typingDelayMillis) {
                typingStatus.html('');
            } else {
                typingStatus.html('<em>typing...</em>');
            }
        }
        function updateLastTypedTime() {
            lastTypedTime = new Date();
        }
        setInterval(refreshTypingStatus, 100);
        textarea.keypress(updateLastTypedTime);
        textarea.blur(refreshTypingStatus);
        });
      </script>
    </div> 
  </body>
</html>